<html>
<head>


    <style>
        th {
            text-align: center;
        }

        body {
            background-color: #eeeeee;
            padding: 10px;
            margin: 10px;
        }

        .scrollClass {
            width: 100%;
            height: 300px;
            overflow-y: auto;
        }

        .form-select {
            width: 50%;
            height: 30px;
            background-color: rgba(255,255,255,0.1)
        }

        .form-control {
        }
    </style>
</head>
<body>
    <div class="container" style="margin:0px;padding:0px;width:100%; top:10%;">
        <div class="col-sm-3">
            <img src="avatar1.png" width="200px" height="200px" style="display:block;">
            <div style="padding-top:15%">
                <label>De la :</label>
                <input type="date" name="1" style="float:right">
                <br>
                <br>
                <br>
                <label>
                    Pana la:
                </label>
                <input type="date" name="2" style="float:right">
            </div>
        </div>

        <div class="col-sm-6" style=" margin-top:5%">

            <h1 style="text-align: center;">Statistica prezentelor in firme </h1>
            <hr>
            <br>
            <div class="col-sm-4" style="float:left">

                <h4>Numar total de ore: 70</h4>
            </div>
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4" style="text-align:right">
                <input type="text" class="form-control" placeholder="Nume angajat">
            </div>
            <div class="scrollClass">
                <table class="table" style="text-align:center;">
                    <thead>
                        <tr>

                            <th scope="col">Intrare</th>
                            <th scope="col">Iesire</th>
                            <th scope="col">Numar de ore</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>12/3/2021 8:20:00 AM</td>
                            <td>12/3/2021 8:20:00 AM</td>
                            <td>12/3/2021 8:20:00 AM</td>
                        </tr>
                        <tr>
                            <td>12/3/2021 8:20:00 AM</td>
                            <td>12/3/2021 8:20:00 AM</td>
                            <td>12/3/2021 8:20:00 AM</td>
                        </tr>
                        <tr>
                            <td>12/3/2021 8:20:00 AM</td>
                            <td>12/3/2021 8:20:00 AM</td>
                            <td>12/3/2021 8:20:00 AM</td>
                        </tr>
                        <tr>
                            <td>12/3/2021 8:20:00 AM</td>
                            <td>12/3/2021 8:20:00 AM</td>
                            <td>12/3/2021 8:20:00 AM</td>
                        </tr>
                        <tr>
                            <td>12/3/2021 8:20:00 AM</td>
                            <td>12/3/2021 8:20:00 AM</td>
                            <td>12/3/2021 8:20:00 AM</td>
                        </tr>
                        <tr>
                            <td>12/3/2021 8:20:00 AM</td>
                            <td>12/3/2021 8:20:00 AM</td>
                            <td>12/3/2021 8:20:00 AM</td>
                        </tr>
                        <tr>
                            <td>12/3/2021 8:20:00 AM</td>
                            <td>12/3/2021 8:20:00 AM</td>
                            <td>12/3/2021 8:20:00 AM</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-3">
            <img src="logo.png" width="200px" height="200px" style="float:right">
        </div>
    </div>
</body>

</html>